body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

.layout-canvas {
    display: flex;
    height: 100%;
}

.message-field {
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    height : 70%;
    width : 95%;
    margin: auto;
    padding : 20px;
    overflow-y: scroll;
}

.layout {
    height: 100%;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messageAll {
    background-color: lightblue;
    align-self: flex-start;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
}

.messageMe {
    background-color: lightblue;
    align-self: flex-end;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
}

.message-sender {
    color: gray;
    font-size: 14px;
}

.textField {
    width: 100%;
    display: flex;
}

.header {
    display: block;
    width: 100%;
    height: 70px;
    background-color: lightblue;
    align-content: center;
}

.layout-left-side {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 30%;
    height: 100%;
    padding: 20px;
}
.layout-right-side {
    width: 70%;
    height: 500px;
}

.input {
    width: 100%;
    display: flex;
    margin-left: 300px;
}
